# -----------------------------
# Java
# -----------------------------
*.class

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Maven
# -----------------------------
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# -----------------------------
# Gradle
# -----------------------------
build/
!**/src/main/**/build/
!**/src/test/**/build/

# -----------------------------
# IntelliJ IDEA
# -----------------------------
.idea/
*.iws
*.iml
*.ipr

# -----------------------------
# Eclipse / Spring Tool Suite
# -----------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# -----------------------------
# NetBeans
# -----------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# -----------------------------
# VS Code
# -----------------------------
.vscode/
*.code-workspace

# -----------------------------
# Java crash dumps
# -----------------------------
hs_err_pid*
replay_pid*

# -----------------------------
# Spring Boot
# -----------------------------
HELP.md

# -----------------------------
# Local configuration / secrets
# -----------------------------
src/main/resources/application-local.properties
application-local.properties
*.env